@model IEnumerable<WebApplication1.Models.CommentListModel>

    
        @foreach (var item in Model)
        {

            <div class="row">
                <div class="col-sm-1">
                    <div class="thumbnail">
                        <img class="img-responsive user-photo" src="https://ssl.gstatic.com/accounts/ui/avatar_2x.png">
                    </div><!-- /thumbnail -->
                </div><!-- /col-sm-1 -->

                <div class="col-sm-5">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <strong>@Html.DisplayFor(modelItem => item.OwnerName)</strong> <span class="text-muted">commented @Html.DisplayFor(modelItem => item.CreationDate)</span>
                        </div>
                        <div class="panel-body">
                            @Html.DisplayFor(modelItem => item.CommentDescription)
                        </div><!-- /panel-body -->
                    </div><!-- /panel panel-default -->
            </div><!-- /col-sm-5 -->
                </div>
                }
