<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="Environment" value="local"/>
  </appSettings>
  <connectionStrings>
    <add name="local" connectionString="Data Source=(localdb)\Projects;Initial Catalog=Stackoverflow;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False" providerName="System.Data.SqlClient"/>
    <add name="remote" connectionString="Server=a47b21d1-ca80-41fd-959d-a44c00129f2b.sqlserver.sequelizer.com;Database=dba47b21d1ca8041fd959da44c00129f2b;User ID=wifqztdjqatianln;Password=UaQ5PztkTiPXRM7dvdsmATuA7Vyyc34C7NPkggMBab3VdrN8dQ75ooeaMo72a4hY;" providerName="System.Data.SqlClient"/>

  </connectionStrings>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>